{compile_post_script, "./scripts/escriptize"}.
{escript_incl_apps,[getopt,gproc,rebar,plists,gen_fsm2,jsx]}.
{deps, [
        {typespecs, ".*", {agner, "typespecs"}},
        {getopt, ".*", {agner, "getopt"}},
        {gproc, ".*", {agner, "gproc"}},
        {plists, ".*", {agner, "plists"}},
        {gen_fsm2, ".*", {agner, "gen_fsm2"}},
        {jsx, ".*", {agner, "jsx"}}
        ]}.
